@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome on our Airport Management APP</h1>
        <a asp-page="./Bagages/Index">Voir Bagages</a> |
        <a asp-page="./Vols/Index">Voir Vols</a>
        </div>
